In [7]:
import pandas as pd
df = pd.read_csv(r"C:\Users\dell\Downloads\Iris.csv")
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [13]:
import pandas as pd
df = pd.read_csv(r"C:\Users\dell\Downloads\Iris.csv")
df = df.drop(columns=["Id"])
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [21]:
import pandas as pd
df = pd.read_csv(r"C:\Users\dell\Downloads\Iris.csv")
df = df.drop(columns=["Id"])
X =  df.drop(columns=["Species"])
X

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [25]:
import pandas as pd
df = pd.read_csv(r"C:\Users\dell\Downloads\Iris.csv")
df = df.drop(columns=["Id"])
Y =  df.drop(columns=["Species"])
Y = df["Species"]
Y

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [27]:
import pandas as pd
from sklearn.model_selection import train_test_split
df = pd.read_csv(r"C:\Users\dell\Downloads\Iris.csv")
df = df.drop(columns=["Id"])
Y =  df.drop(columns=["Species"])
Y

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [37]:
import pandas as pd
from sklearn.model_selection import train_test_split
df = pd.read_csv(r"C:\Users\dell\Downloads\Iris.csv")
df = df.drop(columns=["Id"])
X =  df.drop(columns=["Species"])
Y =  df["Species"]
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,random_state=10, test_size=0.2)
X_train.shape

(120, 4)

In [39]:
import pandas as pd
from sklearn.model_selection import train_test_split
df = pd.read_csv(r"C:\Users\dell\Downloads\Iris.csv")
df = df.drop(columns=["Id"])
X =  df.drop(columns=["Species"])
Y =  df["Species"]
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,random_state=10, test_size=0.2)
X_test.shape

(30, 4)

In [41]:
import pandas as pd
from sklearn.model_selection import train_test_split
df = pd.read_csv(r"C:\Users\dell\Downloads\Iris.csv")
df = df.drop(columns=["Id"])
X =  df.drop(columns=["Species"])
Y =  df["Species"]
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,random_state=10, test_size=0.2)
Y_test.shape

(30,)

In [43]:
import pandas as pd
from sklearn.model_selection import train_test_split
df = pd.read_csv(r"C:\Users\dell\Downloads\Iris.csv")
df = df.drop(columns=["Id"])
X =  df.drop(columns=["Species"])
Y =  df["Species"]
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,random_state=10, test_size=0.2)
Y_train.shape

(120,)

In [47]:
import pandas as pd
from sklearn.model_selection import train_test_split
df = pd.read_csv(r"C:\Users\dell\Downloads\Iris.csv")
df = df.drop(columns=["Id"])
X =  df.drop(columns=["Species"])
Y =  df["Species"]
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,random_state=10, test_size=0.2)
X_train.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     120.000000    120.000000     120.000000    120.000000
mean        5.870000      3.068333       3.781667      1.217500
std         0.841527      0.431527       1.784762      0.776294
min         4.300000      2.200000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.500000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

In [51]:
X_test.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count      30.000000     30.000000      30.000000     30.000000
mean        5.736667      2.996667       3.666667      1.123333
std         0.776146      0.444494       1.706849      0.715678
min         4.400000      2.000000       1.200000      0.200000
25%         5.100000      2.725000       1.500000      0.225000
50%         5.700000      3.000000       4.300000      1.300000
75%         6.275000      3.275000       4.800000      1.575000
max         7.700000      3.800000       6.700000      2.200000

In [53]:
import pandas as pd
from sklearn.model_selection import train_test_split
df = pd.read_csv(r"C:\Users\dell\Downloads\Iris.csv")
df = df.drop(columns=["Id"])
X =  df.drop(columns=["Species"])
Y =  df["Species"]
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,random_state=10, test_size=0.2)
X_train.describe().round(2)

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count         120.00        120.00         120.00        120.00
mean            5.87          3.07           3.78          1.22
std             0.84          0.43           1.78          0.78
min             4.30          2.20           1.00          0.10
25%             5.10          2.80           1.60          0.30
50%             5.80          3.00           4.35          1.30
75%             6.50          3.30           5.10          1.80
max             7.90          4.40           6.90          2.50

In [55]:
X_test.describe().round(2)

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count          30.00         30.00          30.00         30.00
mean            5.74          3.00           3.67          1.12
std             0.78          0.44           1.71          0.72
min             4.40          2.00           1.20          0.20
25%             5.10          2.72           1.50          0.22
50%             5.70          3.00           4.30          1.30
75%             6.28          3.28           4.80          1.58
max             7.70          3.80           6.70          2.20

In [57]:
import pandas as pd
from sklearn.model_selection import train_test_split
df = pd.read_csv(r"C:\Users\dell\Downloads\Iris.csv")
df = df.drop(columns=["Id"])
X =  df.drop(columns=["Species"])
Y =  df["Species"]
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,random_state=10, test_size=0.2)
X_test.mean()

SepalLengthCm    5.736667
SepalWidthCm     2.996667
PetalLengthCm    3.666667
PetalWidthCm     1.123333
dtype: float64

In [59]:
import pandas as pd
from sklearn.model_selection import train_test_split
df = pd.read_csv(r"C:\Users\dell\Downloads\Iris.csv")
df = df.drop(columns=["Id"])
X =  df.drop(columns=["Species"])
Y =  df["Species"]
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,random_state=10, test_size=0.2)
X_test.max()

SepalLengthCm    7.7
SepalWidthCm     3.8
PetalLengthCm    6.7
PetalWidthCm     2.2
dtype: float64

In [61]:
import pandas as pd
from sklearn.model_selection import train_test_split
df = pd.read_csv(r"C:\Users\dell\Downloads\Iris.csv")
df = df.drop(columns=["Id"])
X =  df.drop(columns=["Species"])
Y =  df["Species"]
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,random_state=10, test_size=0.2)
for a in X_train.mean():
    print(a)

5.870000000000001
3.068333333333334
3.7816666666666663
1.2175000000000002

In [63]:
X_test.mean()/X_train.mean()*100

SepalLengthCm    97.728563
SepalWidthCm     97.664313
PetalLengthCm    96.959013
PetalWidthCm     92.265572
dtype: float64

In [65]:
X_test.mean()/X_train.mean()*100-100

SepalLengthCm   -2.271437
SepalWidthCm    -2.335687
PetalLengthCm   -3.040987
PetalWidthCm    -7.734428
dtype: float64